body {
    -webkit-animation: pulse 8s infinite;
    animation: pulse 8s infinite;
    margin:0;
    border:0; 
    padding:0;
}

img, video {
    pointer-events: none;
}

#layers {
  border:0;
  /*position: relative;*/
}

.top {
  border: 0;
  z-index: 1;
}

.middle {
  border: 0;
  z-index: 0;
}

.bottom {
  border: 1px solid #0f0;
  z-index: -1;
}

.pin {
    /*min-width: 100%;*/
    max-width: 200px;
    height: auto;
    top: 15px;
    right: 15px;
    position: fixed;
}

.full {
    min-width: 100%;
    /*max-width: 600px;*/
    height: auto;
    position: relative;
}


@-webkit-keyframes pulse {
    0% {background:#151515}
    25% {background:#d5456d}
    50% {background:#eeeeee}
    75% {background:#43434e}
    100% {background:#151515}
}

@keyframes pulse {
    0% {background:#151515}
    25% {background:#d5456d}
    50% {background:#eeeeee}
    75% {background:#43434e}
    100% {background:#151515}
}


.glow {
    -webkit-animation-duration: 1s;
    -webkit-animation-name: glow;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-name: glow;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@-webkit-keyframes glow {
    from { text-shadow: 0 0 10px white; }
    to { text-shadow: 0 0 6px white; }
}

@keyframes glow {
    from { text-shadow: 0 0 10px white; }
    to { text-shadow: 0 0 6px white; }
}

.whitetext{
    color: white;
}

