body {
    -webkit-animation: pulse 10s infinite;
    animation: pulse 10s infinite;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin:50px 0; 
    padding:0;
    text-align:center;
}

img {
    max-width: 100%;
    height: auto;
}

video {
    max-width: 500px;
    z-index: -100;
}

img, video {
    pointer-events: none;
}

@-webkit-keyframes pulse {
    0% {background:#151515}
    25% {background:#d5456d}
    50% {background:#eeeeee}
    75% {background:#43434e}
    100% {background:#151515}
}

@keyframes pulse {
    0% {background:#151515}
    25% {background:#d5456d}
    50% {background:#eeeeee}
    75% {background:#43434e}
    100% {background:#151515}
}


.glow {
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: glow;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-duration: 0.5s;
    animation-name: glow;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.whitetext{
    color: white;
}

@-webkit-keyframes glow {
    from { text-shadow: 0 0 10px white; }
    to { text-shadow: 0 0 10px white; }
}